.App {
  min-height: 100vh;
  background: rgb(238, 200, 128);
  display: flex;
  background-image: url('./background-2426328_1920.jpg');
}

.firstHeader {
  /* display: block; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  color: #39ff14;
}

.btn {
  position: fixed;
  display: flex;
  top: 65%;
  left: 40%;
  margin-top: -40px;
  /* margin-left: 10px; */
}

.slideOne {
  position: fixed;
  top: 65%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20px;
}

.ModalOne {
  position: fixed;
  top: 20%;
  left: 10%;
  margin-top: -50px;
  margin-left: -20px;
  border: solid 10px black;
  border-radius: 10px;
}

.ModalTwo {
  position: fixed;
  top: 20%;
  left: 40%;
  margin-top: -120px;
  margin-left: -20px;
}

.ModalThree{
  position: fixed;
  top: 20%;
  left: 60%;
  margin-top: -50px;
  margin-left: -20px;
}

.tweet {
  height: 200px;
  width: 250px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SecondPart {
  display: flex;

  margin-top: 1000px;
  margin-left: 100px;
}
.Photo{
  display: flex;
  margin-left: -70px;
}

.PhotoOne{
  border-radius: 20%;
  border: solid 10px black;
  margin-right: 40px;
}

.PhotoTwo{
  border-radius: 20%;
  border: solid 10px white;
  margin-right: 40px;
}

.text{
  color: #39ff14;
}
