.App{
  min-height: 100vh;
  background: rgb(238, 200, 128);
  display: flex;
}

.firstHeader {
  /* display: block; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.btnOne{
  position: fixed;
  top: 65%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20px;
}

.slideOne{
  position: fixed;
  top: 65%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20px;
}

.Meniu{
  position: fixed;
  top: 80%;
  left: 44%;
  margin-top: -50px;
  margin-left: -20px;
  
}


.tweet{
  height: 200px;
  width: 250px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.SecondPart{
  display: flex;
  
  margin-top: 1000px;
  margin-left: 100px;
}



